# Godot 4+ specific ignores
.godot/

#  Godot-specific ignores
*.ctex
*.md5

export_presets.cfg# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
*.translation
.mono/
data_*/

# OS-specific
.DS_Store
Thumbs.db
